# Here we merge our cleaned data

## Importing libraries

In [1]:
# Basics
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import time
from datetime import date

## Loading the Datasets

In [2]:
df_industries = pd.read_csv('Prepared Frames/industry_data.csv')
df_companies = pd.read_csv('Prepared Frames/company_data.csv')
df_balance = pd.read_csv('Prepared Frames/balance_data.csv')
df_cashflow = pd.read_csv('Prepared Frames/cashflow_data.csv')
df_income = pd.read_csv('Prepared Frames/income_data.csv')

In [3]:
display(df_industries.head(1))
display(df_companies.head(1))
display(df_balance.head(1))
display(df_cashflow.head(1))

   IndustryId       Sector             Industry
0      100001  Industrials  Industrial Products

,Ticker,SimFinId,Company Name,IndustryId,tokens,current_search
0,A,45846,AGILENT TECHNOLOGIES INC,106001.0,"['AGILENT', 'TECHNOLOGIES', 'INC']",0

,Ticker,Fiscal Year,Fiscal Period,Report Date,Shares (Diluted),"Cash, Cash Equivalents & Short Term Investments",Accounts & Notes Receivable,Total Current Assets,"Property, Plant & Equipment, Net",Other Long Term Assets,Total Noncurrent Assets,Total Assets,Payables & Accruals,Total Current Liabilities,Total Noncurrent Liabilities,Total Liabilities,Share Capital & Additional Paid-In Capital,Retained Earnings,Total Equity
0,A,2017,Q1,2017-01-31,326000000.0,2.241000e+09,653000000.0,3.635000e+09,653000000.0,3.451000e+09,4.237000e+09,7872000000,268000000.0,1089000000,2.483000e+09,3572000000,5.239000e+09,-453000000.0,4.300000e+09

,Ticker,Fiscal Year,Fiscal Period,Net Income/Starting Line,Depreciation & Amortization,Non-Cash Items,Change in Working Capital,Net Cash from Operating Activities,Change in Fixed Assets & Intangibles,Net Cash from Acquisitions & Divestitures,Net Cash from Investing Activities,Cash from (Repayment of) Debt,Cash from (Repurchase of) Equity,Net Cash from Financing Activities,Net Change in Cash
0,A,2017,Q1,168000000.0,55000000.0,45000000.0,-152000000.0,116000000.0,-32000000.0,-69000000.0,-101000000.0,89000000.0,-93000000.0,-58000000.0,-48000000

## Merging

#### Cashflow and Balance Sheet
We will have to merge the cashflow and balance sheet data on the Ticker, Fiscal Year and Fiscal Period, to get the related reports
together.

In [4]:
print(df_balance.shape)
print(df_cashflow.shape)

(37222, 19)
(37499, 15)

In [5]:
df_statements = pd.merge(left = df_balance,
                                 right = df_cashflow,
                                 # We use outer to not loose Information, we will have to get rid of some NaNs later
                                 how = 'outer', 
                                 left_on = ['Ticker','Fiscal Year','Fiscal Period'], 
                                 right_on= ['Ticker','Fiscal Year','Fiscal Period'])
df_statements.shape

(37499, 31)

In [6]:
# df_statements.isna().sum()
# We created some rows with NaNs, we cannot get any additional information at this point and have to drop them.
df_statements = df_statements[df_statements['Report Date'].isna() == False]
df_statements.shape

(37222, 31)

#### Income data

In [7]:
print(df_statements.shape)
print(df_income.shape)

(37222, 31)
(37809, 19)

In [8]:
df_statements = pd.merge(left = df_balance,
                                 right = df_income,
                                 # We use outer to not loose Information, we will have to get rid of some NaNs later
                                 how = 'outer', 
                                 left_on = ['Ticker','Fiscal Year','Fiscal Period'], 
                                 right_on= ['Ticker','Fiscal Year','Fiscal Period'])
df_statements.shape

(37829, 35)

## Names and Industries
Now we will add the information from our companies dataframe, especially the name is needed, to assign the ratings later

In [9]:
df_main = pd.merge(left = df_companies,
                                 right = df_statements,
                                 # We use outer to not loose Information, we will have to get rid of some NaNs later
                                 how = 'right', 
                                 left_on = ['Ticker'], 
                                 right_on= ['Ticker'])
df_main.shape

(37829, 40)

In [10]:
# We will also add the Industry names, since it makes the analysis better understandable than the Industry IDs
df_main = pd.merge(left = df_main,
                                 right = df_industries,
                                 # We use outer to not loose Information, we will have to get rid of some NaNs later
                                 how = 'left', 
                                 left_on = ['IndustryId'], 
                                 right_on= ['IndustryId'])
df_main.shape

(37829, 42)

In [11]:
# df_main.isna().sum()
# No more NaNs were created

df_main.head(50)

,Ticker,SimFinId,Company Name,IndustryId,tokens,current_search,Fiscal Year,Fiscal Period,Report Date,Shares (Diluted),...,"Pretax Income (Loss), Adj.",Abnormal Gains (Losses),Pretax Income (Loss),"Income Tax (Expense) Benefit, Net",Income (Loss) from Continuing Operations,Net Extraordinary Gains (Losses),Net Income,Net Income (Common),Sector,Industry
0,A,45846.0,AGILENT TECHNOLOGIES INC,106001.0,"['AGILENT', 'TECHNOLOGIES', 'INC']",0.0,2017,Q1,2017-01-31,326000000.0,...,193000000.0,0.0,193000000.0,-25000000.0,168000000.0,0.0,168000000.0,168000000.0,Healthcare,Medical Diagnostics & Research
1,A,45846.0,AGILENT TECHNOLOGIES INC,106001.0,"['AGILENT', 'TECHNOLOGIES', 'INC']",0.0,2017,Q2,2017-04-30,325000000.0,...,191000000.0,0.0,191000000.0,-27000000.0,164000000.0,0.0,164000000.0,164000000.0,Healthcare,Medical Diagnostics & Research
2,A,45846.0,AGILENT TECHNOLOGIES INC,106001.0,"['AGILENT', 'TECHNOLOGIES', 'INC']",0.0,2017,Q3,2017-07-31,326000000.0,...,193000000.0,0.0,193000000.0,-18000000.0,175000000.0,0.0,175000000.0,175000000.0,Healthcare,Medical Diagnostics & Research
3,A,45846.0,AGILENT TECHNOLOGIES INC,106001.0,"['AGILENT', 'TECHNOLOGIES', 'INC']",0.0,2017,Q4,2017-10-31,327000000.0,...,226000000.0,0.0,226000000.0,-49000000.0,177000000.0,0.0,177000000.0,177000000.0,Healthcare,Medical Diagnostics & Research
4,A,45846.0,AGILENT TECHNOLOGIES INC,106001.0,"['AGILENT', 'TECHNOLOGIES', 'INC']",0.0,2018,Q1,2018-01-31,323000000.0,...,233000000.0,0.0,233000000.0,-553000000.0,-320000000.0,0.0,-320000000.0,-320000000.0,Healthcare,Medical Diagnostics & Research
5,A,45846.0,AGILENT TECHNOLOGIES INC,106001.0,"['AGILENT', 'TECHNOLOGIES', 'INC']",0.0,2018,Q2,2018-04-30,326000000.0,...,227000000.0,0.0,227000000.0,-22000000.0,205000000.0,0.0,205000000.0,205000000.0,Healthcare,Medical Diagnostics & Research
6,A,45846.0,AGILENT TECHNOLOGIES INC,106001.0,"['AGILENT', 'TECHNOLOGIES', 'INC']",0.0,2018,Q3,2018-07-31,324000000.0,...,242000000.0,0.0,242000000.0,-6000000.0,236000000.0,0.0,236000000.0,236000000.0,Healthcare,Medical Diagnostics & Research
7,A,45846.0,AGILENT TECHNOLOGIES INC,106001.0,"['AGILENT', 'TECHNOLOGIES', 'INC']",0.0,2018,Q4,2018-10-31,327000000.0,...,244000000.0,0.0,244000000.0,-49000000.0,195000000.0,0.0,195000000.0,195000000.0,Healthcare,Medical Diagnostics & Research
8,A,45846.0,AGILENT TECHNOLOGIES INC,106001.0,"['AGILENT', 'TECHNOLOGIES', 'INC']",0.0,2019,Q1,2019-01-31,322000000.0,...,248000000.0,0.0,248000000.0,256000000.0,504000000.0,0.0,504000000.0,504000000.0,Healthcare,Medical Diagnostics & Research
9,A,45846.0,AGILENT TECHNOLOGIES INC,106001.0,"['AGILENT', 'TECHNOLOGIES', 'INC']",0.0,2019,Q2,2019-04-30,321000000.0,...,218000000.0,0.0,218000000.0,-36000000.0,182000000.0,0.0,182000000.0,182000000.0,Healthcare,Medical Diagnostics & Research
10,A,45846.0,AGILENT TECHNOLOGIES INC,106001.0,"['AGILENT', 'TECHNOLOGIES', 'INC']",0.0,2019,Q3,2019-07-31,317000000.0,...,222000000.0,0.0,222000000.0,-31000000.0,191000000.0,0.0,191000000.0,191000000.0,Healthcare,Medical Diagnostics & Research
11,A,45846.0,AGILENT TECHNOLOGIES INC,106001.0,"['AGILENT', 'TECHNOLOGIES', 'INC']",0.0,2019,Q4,2019-10-31,312000000.0,...,231000000.0,0.0,231000000.0,-37000000.0,194000000.0,0.0,194000000.0,194000000.0,Healthcare,Medical Diagnostics & Research
12,A,45846.0,AGILENT TECHNOLOGIES INC,106001.0,"['AGILENT', 'TECHNOLOGIES', 'INC']",0.0,2020,Q1,2020-01-31,313000000.0,...,219000000.0,0.0,219000000.0,-22000000.0,197000000.0,0.0,197000000.0,197000000.0,Healthcare,Medical Diagnostics & Research
13,A,45846.0,AGILENT TECHNOLOGIES INC,106001.0,"['AGILENT', 'TECHNOLOGIES', 'INC']",0.0,2020,Q2,2020-04-30,313000000.0,...,121000000.0,0.0,121000000.0,-20000000.0,101000000.0,0.0,101000000.0,101000000.0,Healthcare,Medical Diagnostics & Research
14,A,45846.0,AGILENT TECHNOLOGIES INC,106001.0,"['AGILENT', 'TECHNOLOGIES', 'INC']",0.0,2020,Q3,2020-07-31,310000000.0,...,219000000.0,0.0,219000000.0,-20000000.0,199000000.0,0.0,199000000.0,199000000.0,Healthcare,Medical Diagnostics & Research
15,A,45846.0,AGILENT TECHNOLOGIES INC,106001.0,"['AGILENT', 'TECHNOLOGIES', 'INC']",0.0,2020,Q4,2020-10-31,312000000.0,...,283000000.0,0.0,283000000.0,-61000000.0,222000000.0,0.0,222000000.0,222000000.0,Healthcare,Medical Diagnostics & Research
16,A,45846.0,AGILENT TECHNOLOGIES INC,106001.0,"['AGILENT', 'TECHNOLOGIES', 'INC']",0.0,2021,Q1,2021-01-31,309000000.0,...,312000000.0,0.0,312000000.0,-24000000.0,288000000.0,0.0,288000000.0,288000000.0,Healthcare,Medical Diagnostics & Research
17,A,45846.0,AGILENT TECHNOLOGIES INC,106001.0,"['AGILENT', 'TECHNOLOGIES', 'INC']",0.0,2021,Q2,2021-04-30,309000000.0,...,273000000.0,0.0,273000000.0,-57000000.0,216000000.0,0.0,216000000.0,216000000.0,Healthcare,Medical Diagnostics & Research
18,A,45846.0,AGILENT TECHNOLOGIES INC,106001.0,"['AGILENT', 'TECHNOLOGIES', 'INC']",0.0,2021,Q3,2021-07-31,307000000.0,...,327000000.0,0.0,327000000.0,-63000000.0,264000000.0,0.0,264000000.0,264000000.0,Healthcare,Medical Diagnostics & Research
19,A,45846.0,AGILENT TECHNOLOGIES INC,106001.0,"['AGILENT', 'TECHNOLOGIES', 'INC']",0.0,2021,Q4,2021-10-31,307000000.0,...,448000000.0,0.0,448000000.0,-6000000.0,442000000.0,0.0,442000000.0,442000000.0,Healthcare,Medical Diagnostics & Research
20,AA,367153.0,Alcoa Corp,110004.0,"['Alcoa', 'Corp']",0.0,2017,Q1,2017-03-31,186000000.0,...,428000000.0,0.0,418000000.0,-110000000.0,308000000.0,0.0,225000000.0,225000000.0,Basic Materials,Metals & Mining
21,AA,367153.0,Alcoa Corp,110004.0,"['Alcoa', 'Corp']",0.0,2017,Q2,2017-06-30,186000000.0,...,249000000.0,0.0,237000000.0,-99000000.0,138000000.0,0.0,75000000.0,75000000.0,Basic Materials,Metals & Mining
22,AA,367153.0,Alcoa Corp,110004.0,"['Alcoa', 'Corp']",0.0,2017,Q3,2017-09-30,189000000.0,...,278000000.0,0.0,288000000.0,-119000000.0,169000000.0,0.0,113000000.0,113000000.0,Basic Materials,Metals & Mining
23,AA,367153.0,Alcoa Corp,110004.0,"['Alcoa', 'Corp']",0.0,2017,Q4,2017-12-31,187000000.0,...,513000000.0,0.0,216000000.0,-272000000.0,-56000000.0,0.0,-196000000.0,-196000000.0,Basic Materials,Metals & Mining
24,AA,367153.0,Alcoa Corp,110004.0,"['Alcoa', 'Corp']",0.0,2018,Q1,2018-03-31,188000000.0,...,393000000.0,0.0,412000000.0,-138000000.0,274000000.0,0.0,150000000.0,150000000.0,Basic Materials,Metals & Mining
25,AA,367153.0,Alcoa Corp,110004.0,"['Alcoa', 'Corp']",0.0,2018,Q2,2018-06-30,190000000.0,...,641000000.0,0.0,410000000.0,-180000000.0,230000000.0,0.0,75000000.0,75000000.0,Basic Materials,Metals & Mining
26,AA,367153.0,Alcoa Corp,110004.0,"['Alcoa', 'Corp']",0.0,2018,Q3,2018-09-30,189000000.0,...,583000000.0,0.0,406000000.0,-251000000.0,155000000.0,0.0,-41000000.0,-41000000.0,Basic Materials,Metals & Mining
27,AA,367153.0,Alcoa Corp,110004.0,"['Alcoa', 'Corp']",0.0,2018,Q4,2018-12-31,189000000.0,...,535000000.0,0.0,397000000.0,-163000000.0,234000000.0,0.0,66000000.0,66000000.0,Basic Materials,Metals & Mining
28,AA,367153.0,Alcoa Corp,110004.0,"['Alcoa', 'Corp']",0.0,2019,Q1,2019-03-31,185000000.0,...,205000000.0,0.0,92000000.0,-150000000.0,-58000000.0,0.0,-199000000.0,-199000000.0,Basic Materials,Metals & Mining
29,AA,367153.0,Alcoa Corp,110004.0,"['Alcoa', 'Corp']",0.0,2019,Q2,2019-06-30,185000000.0,...,193000000.0,0.0,-177000000.0,-116000000.0,-293000000.0,0.0,-402000000.0,-402000000.0,Basic Materials,Metals & Mining
30,AA,367153.0,Alcoa Corp,110004.0,"['Alcoa', 'Corp']",0.0,2019,Q3,2019-09-30,185000000.0,...,133000000.0,0.0,-52000000.0,-95000000.0,-147000000.0,0.0,-221000000.0,-221000000.0,Basic Materials,Metals & Mining
31,AA,367153.0,Alcoa Corp,110004.0,"['Alcoa', 'Corp']",0.0,2019,Q4,2019-12-31,185000000.0,...,62000000.0,0.0,-301000000.0,-54000000.0,-355000000.0,0.0,-303000000.0,-303000000.0,Basic Materials,Metals & Mining
32,AA,367153.0,Alcoa Corp,110004.0,"['Alcoa', 'Corp']",0.0,2020,Q1,2020-03-31,187000000.0,...,221000000.0,0.0,219000000.0,-80000000.0,139000000.0,0.0,80000000.0,80000000.0,Basic Materials,Metals & Mining
33,AA,367153.0,Alcoa Corp,110004.0,"['Alcoa', 'Corp']",0.0,2020,Q2,2020-06-30,185000000.0,...,-68000000.0,0.0,-105000000.0,-45000000.0,-150000000.0,0.0,-197000000.0,-197000000.0,Basic Materials,Metals & Mining
34,AA,367153.0,Alcoa Corp,110004.0,"['Alcoa', 'Corp']",0.0,2020,Q3,2020-09-30,186000000.0,...,27000000.0,0.0,22000000.0,-42000000.0,-20000000.0,0.0,-49000000.0,-49000000.0,Basic Materials,Metals & Mining
35,AA,367153.0,Alcoa Corp,110004.0,"['Alcoa', 'Corp']",0.0,2020,Q4,2020-12-31,186000000.0,...,97000000.0,0.0,37000000.0,-20000000.0,17000000.0,0.0,-4000000.0,-4000000.0,Basic Materials,Metals & Mining
36,AA,367153.0,Alcoa Corp,110004.0,"['Alcoa', 'Corp']",0.0,2021,Q1,2021-03-31,189000000.0,...,319000000.0,0.0,312000000.0,-93000000.0,219000000.0,0.0,175000000.0,175000000.0,Basic Materials,Metals & Mining
37,AA,367153.0,Alcoa Corp,110004.0,"['Alcoa', 'Corp']",0.0,2021,Q2,2021-06-30,189000000.0,...,494000000.0,0.0,461000000.0,-111000000.0,350000000.0,0.0,309000000.0,309000000.0,Basic Materials,Metals & Mining
38,AA,367153.0,Alcoa Corp,110004.0,"['Alcoa', 'Corp']",0.0,2021,Q3,2021-09-30,190000000.0,...,530000000.0,0.0,497000000.0,-127000000.0,370000000.0,0.0,337000000.0,337000000.0,Basic Materials,Metals & Mining
39,AA,367153.0,Alcoa Corp,110004.0,"['Alcoa', 'Corp']",0.0,2021,Q4,2021-12-31,172653756.0,...,984000000.0,0.0,-71000000.0,-298000000.0,-369000000.0,0.0,-392000000.0,-392000000.0,Basic Materials,Metals & Mining
40,AAC_delist,939324.0,"AAC Holdings, Inc.",106011.0,"['AAC', 'Holdings', ',', 'Inc', '.']",0.0,2017,Q1,2017-03-31,23174899.0,...,-1867000.0,0.0,-2209000.0,565000.0,-1644000.0,0.0,-603000.0,-603000.0,Healthcare,Health Care Providers
41,AAC_delist,939324.0,"AAC Holdings, Inc.",106011.0,"['AAC', 'Holdings', ',', 'Inc', '.']",0.0,2017,Q2,2017-06-30,23231263.0,...,5987000.0,0.0,-2336000.0,-562000.0,-2898000.0,0.0,-1916000.0,-1916000.0,Healthcare,Health Care Providers
42,AAC_delist,939324.0,"AAC Holdings, Inc.",106011.0,"['AAC', 'Holdings', ',', 'Inc', '.']",0.0,2017,Q3,2017-09-30,23332897.0,...,5042000.0,0.0,-820000.0,456000.0,-364000.0,0.0,762000.0,762000.0,Healthcare,Health Care Providers
43,AAC_delist,939324.0,"AAC Holdings, Inc.",106011.0,"['AAC', 'Holdings', ',', 'Inc', '.']",0.0,2017,Q4,2017-12-31,23370717.0,...,18730000.0,0.0,-13758000.0,1283000.0,-12475000.0,0.0,-11116000.0,-11116000.0,Healthcare,Health Care Providers
44,AAC_delist,939324.0,"AAC Holdings, Inc.",106011.0,"['AAC', 'Holdings', ',', 'Inc', '.']",0.0,2018,Q1,2018-03-31,23781604.0,...,2221000.0,0.0,-875000.0,38000.0,-837000.0,0.0,1056000.0,1056000.0,Healthcare,Health Care Providers
45,AAC_delist,939324.0,"AAC Holdings, Inc.",106011.0,"['AAC', 'Holdings', ',', 'Inc', '.']",0.0,2018,Q2,2018-06-30,24131916.0,...,-3510000.0,0.0,-3754000.0,162000.0,-3592000.0,0.0,-1602000.0,-1602000.0,Healthcare,Health Care Providers
46,AAC_delist,939324.0,"AAC Holdings, Inc.",106011.0,"['AAC', 'Holdings', ',', 'Inc', '.']",0.0,2018,Q3,2018-09-30,24205130.0,...,-23761000.0,0.0,-24919000.0,1075000.0,-23844000.0,0.0,-22181000.0,-22181000.0,Healthcare,Health Care Providers
47,AAC_delist,939324.0,"AAC Holdings, Inc.",106011.0,"['AAC', 'Holdings', ',', 'Inc', '.']",0.0,2018,Q4,2018-12-31,24243906.0,...,-1244000.0,0.0,-40174000.0,1729000.0,-38445000.0,0.0,-36677000.0,-36677000.0,Healthcare,Health Care Providers
48,AAC_delist,939324.0,"AAC Holdings, Inc.",106011.0,"['AAC', 'Holdings', ',', 'Inc', '.']",0.0,2019,Q1,2019-03-31,24495613.0,...,-26397000.0,0.0,-24149000.0,33000.0,-24116000.0,0.0,-22019000.0,-22019000.0,Healthcare,Health Care Providers
49,AAC_delist,939324.0,"AAC Holdings, Inc.",106011.0,"['AAC', 'Holdings', ',', 'Inc', '.']",0.0,2019,Q2,2019-06-30,24742889.0,...,-18737000.0,0.0,-18737000.0,-323000.0,-19060000.0,0.0,-16372000.0,-16372000.0,Healthcare,Health Care Providers

## Saving the concatenated Dataframe

In [12]:
df_main.to_csv('Prepared Frames/main_data.csv', index=False)