# Merging the Rating- to the Main Data
In this notebook we will merge the rating to the main Data.
The problem here are the differences in spelling between these two.

## Importing libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import time
from datetime import date

In [2]:
# !pip install Levenshtein
# !pip install fuzzywuzzy

In [3]:
# We will try to match the company names using different libraries and see wich method serves us best
import difflib
from difflib import SequenceMatcher
from fuzzywuzzy import fuzz

## Loading files

In [4]:
ratings_df = pd.read_csv('Prepared Frames/rating_data.csv')
df_companies = pd.read_csv('Prepared Frames/company_data.csv')

## Looking for matches
We will create a column for each method in our dataframe, where we will insert the closest match found with the ratings dataframe.

In [5]:
# Making a list of the companies in the ratings dataframe
r_companies = list(ratings_df['Company'].unique())
len(r_companies)

17674

#### Making everything lowercase for better results

In [6]:
def makelow(x):
    return x.lower()

In [7]:
ratings_df['Company_lower'] = ratings_df['Company'].apply(makelow)

In [8]:
df_companies['Company_lower'] = df_companies['Company Name'].apply(makelow)

In [9]:
r_companies = list(ratings_df['Company_lower'].unique())

#### Difflib

In [10]:
# We want the matchs wo be very close, it is crucial to not get false matches,+
# while losing data is not ideal, but has to be expected in this case.
def getmatch(company):
    # We check if we have very close matches for the companies and return maximum of one value.
    try:
        return difflib.get_close_matches(company,r_companies,1,cutoff)[0]
    # If nothing is found, we return nothing, to get a NaN which will be easy for us to track
    except:
        pass

In [11]:
# Test
# The cutoff is just for testing purposes, we will use a way tighter one on our dataset.
cutoff = 0.5
getmatch('Barrick Gold')

'archrock inc. (old)'

In [12]:
# Applying it to our dataset

In [13]:
df_companies.columns

Index(['Ticker', 'Company Name', 'IndustryId', 'Company_lower'], dtype='object')

In [14]:
cutoff = 0.9
df_companies['difflib'] = df_companies['Company_lower'].apply(getmatch)

In [15]:
# Having a look how it worked
len(df_companies[df_companies['difflib'].isna()==False]['difflib'])
# 570 Matches, that looks better than the around 200 we had before.

570

In [16]:
# Check some examples on how good the matches are
# df_companies[df_companies['difflib'].isna()==False][['Company Name','difflib']].head(50)

The matches now look all correct, we had to increase the cutoff from initially 0.8 to 0.9 now.

#### Fuzzywuzzy
We try the same with the fuzzywuzzy library

In [17]:
from fuzzywuzzy import process

In [18]:
# We again define a function to get the closest matches, this time with the fuzzywuzzy library
def getfuzz(company):
    res,score = process.extractOne(company, r_companies, score_cutoff=1)
    if score < 1:
        pass
    else:
        return res

In [19]:
print(getfuzz('Barrick Gold'))

gold fields limited

The fuzzywuzzy results were way to vague and had a lot of mismatches, even with
the cutoff set to one. We cannot use this.

In [20]:
# This took a long time, so we save the results:
df_companies.to_csv('Prepared Frames/companies_approx_match.csv', index=False)

# Another attempt

When building the model I realized, that having 500 companies is not enough to train a model for all the rating classes.

We create yet another column, where we clean up the company names of a lot of unneccessary ballast and try to get some more matches like this.

In [21]:
def cleaner(s):
    # We will define alist of words that are often used within companynames but don't help to distinguish:
    bloat_list = ['incorporated','company','corporation','pharmaceuticals','limited','resources', 'incorporated','plc','inc','corp','co',
                  'group','holdings','.',',','-','ltd',"'",'&']
    
    s =  s.lower()
    # We remove the bloat from our targeted string
    for word in bloat_list:
        s = s.replace(word,'')
    # We return the cleaned phrase
    return s

In [22]:
# We create the new column
df_companies['reduced_name'] = df_companies['Company Name'].apply(cleaner)
df_companies.head(10)

,Ticker,Company Name,IndustryId,Company_lower,difflib,reduced_name
0,A,AGILENT TECHNOLOGIES INC,106001.0,agilent technologies inc,None,agilent technologies
1,A18,Trip.com Group Ltd,108004.0,trip.com group ltd,None,tripm
2,A21,Li Auto Inc.,108004.0,li auto inc.,None,li auto
3,AA,Alcoa Corp,110004.0,alcoa corp,None,ala
4,AAC_delist,"AAC Holdings, Inc.",106011.0,"aac holdings, inc.","aac holdings, inc.",aac
5,AAL,American Airlines Group Inc.,100006.0,american airlines group inc.,american airlines group inc.,american airlines
6,AAMC,Altisource Asset Management Corp,104001.0,altisource asset management corp,None,altisource asset management
7,AAME,ATLANTIC AMERICAN CORP,104004.0,atlantic american corp,None,atlantic american
8,AAN,"Aaron's Company, Inc.",100007.0,"aaron's company, inc.",None,aarons
9,AAOI,"APPLIED OPTOELECTRONICS, INC.",101004.0,"applied optoelectronics, inc.",None,applied optoelectronics

In [23]:
# We do the same for the ratings
ratings_df['reduced_name'] = ratings_df['Company'].apply(cleaner)
ratings_df.head(10)

,Company,Date,Rating,Company_lower,reduced_name
0,"Becton, Dickinson and Company",2017-12-28,Ba1,"becton, dickinson and company",becton dickinson and
1,"Becton, Dickinson and Company",2012-06-15,A2,"becton, dickinson and company",becton dickinson and
2,"Becton, Dickinson and Company",2012-10-03,A3,"becton, dickinson and company",becton dickinson and
3,"Becton, Dickinson and Company",2015-03-17,Baa2,"becton, dickinson and company",becton dickinson and
4,"Becton, Dickinson and Company",2017-12-28,Ba1,"becton, dickinson and company",becton dickinson and
5,Tereos,2012-06-15,Ba3,tereos,tereos
6,Tereos,2012-08-21,Ba2,tereos,tereos
7,Tereos,2015-09-22,B1,tereos,tereos
8,Tereos,2012-06-15,Ba3,tereos,tereos
9,Tereos,2012-08-21,Ba2,tereos,tereos

In [24]:
# We try to match again
r_companies = list(ratings_df['reduced_name'].unique())

In [25]:
df_companies['reduced_matches'] = df_companies['reduced_name'].apply(getmatch)

In [26]:
# Having a look how it worked
len(df_companies[df_companies['reduced_matches'].isna()==False]['reduced_matches'])

851

In [27]:
df_companies[df_companies['reduced_matches'].isna()==False][['Company Name','reduced_name','reduced_matches']].head(60)

,Company Name,reduced_name,reduced_matches
4,"AAC Holdings, Inc.",aac,aac
5,American Airlines Group Inc.,american airlines,american airlines
15,AbbVie Inc.,abbvie,abbvie
18,"CAMBIUM LEARNING GROUP, INC.",cambium learning,cambium learning
21,ASBURY AUTOMOTIVE GROUP INC,asbury automotive,asbury automotive
34,"Arcosa, Inc.",arsa,arsa
38,American Campus Communities Inc,american campus mmunities,american campus mmunities
39,ACCO BRANDS Corp,ac brands,ac brands
44,Acadia Healthcare Company Inc,acadia healthcare,acadia healthcare
45,"Albertsons Companies, Inc.",albertsons mpanies,albertsons mpanies
47,"ACI WORLDWIDE, INC.",aci worldwide,aci worldwide
51,Accenture plc,accenture,accenture
56,ACCURIDE CORP,accuride,accuride
65,AUTOMATIC DATA PROCESSING INC,automatic data processing,automatic data processing
77,AMEREN CORP,ameren,ameren
82,AEP INDUSTRIES INC,aep industries,aep industries
93,"Affinion Group, Inc.",affinion,affinion
99,ASSURED GUARANTY LTD,assured guaranty,assured guaranty
100,"Avangrid, Inc.",avangrid,avangrid
104,R1 RCM INC.,r1 rcm,r1 rcm
108,ASPEN INSURANCE HOLDINGS LTD,aspen insurance,aspen insurance uk
111,AMERICAN INTERNATIONAL GROUP INC,american international,american international
112,Altra Industrial Motion Corp.,altra industrial motion,altra industrial motion
114,AAR CORP,aar,aar
117,APARTMENT INVESTMENT & MANAGEMENT CO,apartment investment management,apartment investment management
118,ASSURANT INC,assurant,assurant
121,"AEROJET ROCKETDYNE HOLDINGS, INC.",aerojet rocketdyne,aerojet rocketdyne
124,AKORN INC,akorn,akorn
130,Allete Inc,allete,allete
134,Allegiant Travel CO,allegiant travel,allegiant travel
135,"Alon USA Energy, Inc.",alon usa energy,alon usa energy
138,Alkermes PLC,alkermes,alkermes
140,Allegion plc,allegion,allegion
142,Ally Financial Inc.,ally financial,ally financial
146,ALERE INC.,alere,alere
149,ALASKA COMMUNICATIONS SYSTEMS GROUP INC,alaska mmunications systems,alaska mmunications systems
150,Allison Transmission Holdings Inc,allison transmission,allison transmission
154,"Alta Mesa Holdings, LP",alta mesa lp,alta mesa lp
162,"AMC ENTERTAINMENT HOLDINGS, INC.",amc entertainment,amc entertainment
163,Amc Networks Inc,amc networks,amc networks
169,American Homes 4 Rent,american homes 4 rent,american homes 4 rent
171,"AMKOR TECHNOLOGY, INC.",amkor technology,amkor technology
174,AMERIPRISE FINANCIAL INC,ameriprise financial,ameriprise financial
176,"Alpha Metallurgical Resources, Inc.",alpha metallurgical,alpha metallurgical
183,TD AMERITRADE HOLDING CORP,td ameritrade holding,td ameritrade holding
184,AMERICAN WOODMARK CORP,american woodmark,american woodmark
186,"AUTONATION, INC.",autonation,autonation
187,Andeavor,andeavor,andeavor
188,ANDEAVOR LOGISTICS LP,andeavor logistics lp,andeavor logistics lp
197,"ARTIVION, INC.",artivion,artivion
201,APACHE CORP,apache,apache
203,ANADARKO PETROLEUM CORP,anadarko petroleum,anadarko petroleum
205,AMERICAN PUBLIC EDUCATION INC,american public education,american public education
217,Aptiv PLC,aptiv,aptiv
218,AMERIGAS PARTNERS LP,amerigas partners lp,amerigas partners lp
220,ChampionX Corp,championx,championx
221,ANTERO RESOURCES Corp,antero,antero
227,Alexandria Real Estate Equities Inc,alexandria real estate equities,alexandria real estate equities
228,Approach Resources Inc,approach,approach
229,"Airgas, Inc.",airgas,airgas

In [28]:
df_companies[df_companies['reduced_matches'].isna()==False][['Company Name','reduced_name','reduced_matches']].tail(60)

,Company Name,reduced_name,reduced_matches
2898,Validus Holdings LTD,validus,validus
2902,Varex Imaging Corp,varex imaging,varex imaging
2905,VERINT SYSTEMS INC,verint systems,verint systems
2907,Verisk Analytics,verisk analytics,verisk analytics
2908,Verisign Inc.,verisign,verisign
2911,VIASAT INC,viasat,viasat
2912,Victoria's Secret & Co.,victorias secret,victorias secret
2913,VISHAY INTERTECHNOLOGY INC,vishay intertechnology,vishay intertechnology
2915,"Versum Materials, Inc.",versum materials,versum materials
2917,Vista Outdoor Inc.,vista outdoor,vista outdoor
2919,Viatris Inc,viatris,viatris
2924,VALVOLINE INC,valvoline,valvoline
2929,VERIZON COMMUNICATIONS INC,verizon mmunications,verizon mmunications
2931,WESTINGHOUSE AIR BRAKE TECHNOLOGIES CORP,westinghouse air brake technologies,westinghouse air brake technologies
2932,WASHINGTON FEDERAL INC,washington federal,washington federal
2933,"Wesco Aircraft Holdings, Inc",wes aircraft,wes aircraft
2934,WESTERN ALLIANCE BANCORPORATION,western alliance ban,western alliance ban
2941,WEBSTER FINANCIAL CORP,webster financial,webster financial
2942,WESCO INTERNATIONAL INC,wes international,wes international
2944,"WCI Communities, Inc.",wci mmunities,wci mmunities
2946,WESTERN DIGITAL CORP,western digital,western digital
2951,"WEB.COM GROUP, INC.",webm,webm
2954,Wendy's Co,wendys,wendys
2958,WEX Inc.,wex,wex
2960,"WEST FRASER TIMBER CO., LTD",west fraser timber,west fraser timber
2961,WHOLE FOODS MARKET INC,whole foods market,whole foods market
2965,WINNEBAGO INDUSTRIES INC,winnebago industries,winnebago industries
2966,"WYNDHAM HOTELS & RESORTS, INC.",wyndham hotels resorts,wyndham hotels resorts
2978,WESTMORELAND COAL Co,westmoreland al,westmoreland al
2981,WHITING PETROLEUM CORP,whiting petroleum,whiting petroleum
2982,"Walter Energy, Inc.",walter energy,walter energy
2983,Waste Management Inc.,waste management,waste management
2990,Walmart Inc,walmart,walmart
2994,"Petco Health & Wellness Company, Inc.",pet health wellness,pet health and wellness
2995,Vca Antech Inc,vca antech,vca antech
2996,WORTHINGTON INDUSTRIES INC,worthington industries,worthington industries
2998,W P Carey Inc,w p carey,w p carey
2999,WASHINGTON PRIME GROUP INC.,washington prime,washington prime lp
3001,WPX Energy Inc,wpx energy,wpx energy
3006,WORLD ACCEPTANCE CORP,world acceptance,world acceptance
3014,WINTRUST FINANCIAL CORP,wintrust financial,intrust financial
3025,WEYERHAEUSER CO,weyerhaeuser,weyerhaeuser
3026,Wynn Resorts Ltd,wynn resorts,wynn resorts
3027,UNITED STATES STEEL CORP,united states steel,united states steel
3029,EXCO RESOURCES INC,ex,ex
3031,Cimarex Energy,cimarex energy,cimarex energy
3032,Xcel Energy Inc,xcel energy,xcel energy
3039,XILINX INC,xilinx,xilinx
3044,"Extraction Oil & Gas, Inc.",extraction oil gas,extraction oil and gas
3045,EXXON MOBIL CORP,exxon mobil,exxon mobil
3050,"XPO Logistics, Inc.",xpo logistics,gxo logistics
3051,Dentsply Sirona,dentsply sirona,dentsply sirona
3052,Xerox Corp.,xerox,xerox
3054,Xylem Inc.,xylem,xylem
3055,Alleghany Corp,alleghany,alleghany
3056,Yellow Corp,yellow,yellow
3067,YUM BRANDS INC,yum brands,yum! brands
3070,"Zayo Group Holdings, Inc.",zayo,zayo
3072,ZEBRA TECHNOLOGIES CORP,zebra technologies,zebra technologies
3079,Horsehead Holding Corp,horsehead holding,horsehead holding

# Adding the names of the matched companies, to our companies dataframe

In [29]:
# After looking through some examples, I am confident, that the matches are reliable.
# With each added word we were able to increase the number of matches for our dataframe.
# From initially 250 matched companies we went up to now 850
df_companies.to_csv('Prepared Frames/companies_approx_match.csv', index=False)

In [30]:
# We also have to save the ratings dataframe with the matched versions of the company names
ratings_df.to_csv('Prepared Frames/rating_data.csv', index=False)